<!DOCTYPE html>
<html {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ function('wp_head') }}
  </head>
  <body class="{{ body_class }}">
    <header>
      {# {% include 'partial/header.twig' %} #}
    </header>

    <main>
      {% block content %}
        Sorry, no content
      {% endblock %}
    </main>

    <footer>
      {# {% include 'partial/footer.twig' %} #}
    </footer>
    {{ function('wp_footer') }}
  </body>
</html>
